API_LOCATION=location # (example: 0.0.0.0)
API_PORT=port_number # (example: 5000)
ALLOWED_REGISTRY_CREATORS=location,location,etc. # (example: https://google.com,https://safari.com)
DB_REGISTRY=registry_database_name # (example: Registry.db)

USERNAME=username # (example: JVM)
EMAIL=email # (example: JVM@location.place)
PASSWORD=password # (example: Password123)

DEFAULT_AUTH_LEVEL=default_auth_level # (example: 5)
DEFAULT_AUTH_SCHEME=default_auth_scheme_as_string # (example: '{"notation": "integer", "allow_key": {"else": {"smaller_than": "5", "bigger_than": null, "allow": ["5"], "ban": null}}, "hierarchy": {"main": "advanced", "advanced": {"else": {"else": {"smaller_than": null, "bigger_than": "self", "allow": null, "ban": null}}}, "except": ["5"]}}')

TESTING=False #changing this to True will disable authentication for testing purposes (like when having switched user/registry models)